@media (max-width: 900px) { 
	
	h1 { font: bold 40px/46px 'Montserrat'; } 
	h2 { width: 100%; font: bold 40px/48px 'Montserrat'; }
	.navbar-header { margin-bottom: 0px; }
	header div ul li {  font: 14px/25px 'Montserrat'; }
	.form { width: 100%; margin-top: 30px; }
	header { height: auto; background: #e6e8ff url(../images/bg_header.jpg) center bottom no-repeat; padding-bottom: 20px; }
	.row { margin: 0px; }
	.plus ul li { min-height: 150px; }
	.btn { width: 100%; }
	.ul { height: auto; }
	.carousel { height: auto; }
	.info div { border-right: 0px; }
	
	.blocks:after { display: none; }
	.blocks { background: #6052a4; min-height: auto; padding-bottom: 40px; }
	.blocks:before { display: none; }
	.blocks p { padding-right: 0px; }
	.work h2 + p { width: 100%; }
	footer .navbar ul { float: none; }
	footer .navbar ul li { display: block; text-align: center; }
	.bottom ul li { margin-bottom: 20px; }
	.work { padding-bottom: 0px; }
	
	.logo { left: 30px; }
	.logo + span { left: 70px; }
	
	.ul .item p { padding-right: 0px; }
	.ul .item { margin-bottom: 65px; }
	.panel-title span { font: bold 35px/22px 'Montserrat'; }
	.blocks .row div img { display: none; }


}



@media (max-width: 600px) { 
	
	h1 { font: bold 40px/46px 'Montserrat'; } 
	h2 { width: 100%; font: bold 40px/48px 'Montserrat'; }
	.navbar-header { margin-bottom: 0px; }
	header div ul li {  font: 14px/25px 'Montserrat'; }
	.form { width: 100%; margin-top: 30px; }
	header { height: auto; }
	.row { margin: 0px; }
	.plus ul li { min-height: 150px; }
	.btn { width: 100%; }
	.ul { height: auto; }
	.carousel { height: auto; }
	.info div { border-right: 0px; }
	
	.blocks:after { display: none; }
	.blocks { background: #6052a4; min-height: auto; padding-bottom: 40px; }
	.blocks:before { display: none; }
	.blocks p { padding-right: 0px; }
	.work h2 + p { width: 100%; }
	footer .navbar ul { float: none; }
	footer .navbar ul li { display: block; text-align: center; }
	.bottom ul li { margin-bottom: 20px; }
	.work { padding-bottom: 0px; }
	.navbar ul li:last-child { padding-right: 25px; }
	
	.blocks .row div img { display: none; }
	.graph-sm { margin-top: 30px; }
	.form-block { float: none; }
	
	.navbar ul li:last-child { padding-right: 25px; }
	.navbar ul { float: none; }
	.navbar ul li { display: block; }
	
	.blocks .row div img { display: none; }
	
	.navbar-default .navbar-toggle { border: 0px; }
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: none; }
	
	
	
	.navbar-toggle { width: auto; right: -40px; top: 20px; }
	.navbar-default .navbar-collapse, .navbar-default .navbar-form { border: 0px; }
	.navbar ul { border-bottom: 1px solid #5a38a7; }
	.navbar { margin-right: 0px; }
	.navbar ul:before { display: none; }
	

}