body{
	background: #b9b9b9;
}
.container{}
.header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background: #e6e4e4;
}
.h_menu.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
	.h_menu.nav .nav-item{}
		.h_menu.nav .nav-item .nav-link{color: #5d5d5d;font-size: 18px;}
		.h_menu.nav .nav-item .nav-link:hover{color: #2d2d2d;}
	.h_menu.nav .nav-item.active{background-color: #f7f7f7;}
		.h_menu.nav .nav-item.active .nav-link{color: #828282;background: transparent;}
		.h_menu.nav .nav-item.active:hover .nav-link{color: #828282;}
.body{background: #f7f7f7;padding: .5em 1em;}
.my-tab-content{}
	.my-tab-content .tab-pane{
		background: #fff; border: 1px solid #ddd; border-top: 0 none;
		padding: 15px;
		border-bottom-right-radius: .25em;
		border-bottom-left-radius: .25em;
	}
.sbutton_block{padding-top: 15px;}
.nav-tabs>li>a{
	margin-right: 0;
    color: #2cce9b;
    font-weight: 700;
}
.nav-tabs>li>a:hover{border-color: #F7F7F7;}
.nav>li>a:focus, .nav>li>a:hover {background-color: rgba(255, 255, 255, 0.4);}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color: #2cce9b;}
.note-toolbar-wrapper.panel-default{min-height: 40px;}
.note-editable{min-height: 200px;}
.settings_page{padding-top: 15px;}
	.settings_page textarea{
		width: 100%;min-height: 251px;border-radius: 4px;
		max-height: 251px;visibility: hidden;
	}
	.settings_page textarea.not{
		max-height: auto;
		min-height: auto;
		visibility: visible;
	}
	.img_cont{max-height: 100px;}
		.img_cont img{max-height: 100px;}